/* RESET */
*{
	margin: 0;
	padding: 0;
	font-size: 100%;
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	background-color: #EBF0F4;
}


 /*TABULEIRO DO ADVERSARIO*/
#tab-adversario {
	float: left;
	top: 0px;
}
#tab-adversario table {
	margin: 40px;
	margin-left: 0;
	float: left;
	cursor: not-allowed;
}
#tab-adversario table td {
	padding: 20px;
    background-color: #006178;
}
 /*FIM TABULEIRO DO ADVERSARIO*/

/*TABULEIRO DO JOGADOR*/
#tab-jogador {
	float: right;
	top: 0px;
}
#tab-jogador table {
	margin: 40px;
	float: right;
	cursor: crosshair;
}
#tab-jogador table td {
	padding: 20px;
    background-color: #00C4F2;
}
/*FIM TABULEIRO DO JOGADOR*/

#conteudo .indice {
	font-family: 'Press Start 2P', cursive;
	cursor: default;
	color: #000;
	background-color: #EBF0F4;
}